
/* Estilos custom*/

.jumbotron {
    background-color: rgba(219, 99, 15, 0.4) !important;
}

.quick-access {
    font-size: 11px;
    background-color: #e86518;
    margin: .25rem .5rem;
    min-width: 4rem;
}

.quick-access-bar{
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .quick-access {
        width: 100%;
    }
}

 footer a,
.quick-access a{
    color: white;
}

 .quick-access a.active{
    color: #e86518;
    background-color: white;
    border: 1px solid #e86518;
}

.recommended {
    flex: 1 200px;
}

.btn{
    width: 100%;
    border-radius: unset !important;
}

footer{
    background-color: #e86518;
    color: white;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 1.5rem .5rem 1.5rem;
    font-size: small;
    position: relative;
    bottom: 0;
}

.container {
    min-height: 26rem;
}

.card {
    padding: 0 !important;
}

.card-body {
    cursor: default;
}

.card-title h5{
    margin: 0 !important;
    cursor: pointer;
}

.card .card-footer{
    padding: 0 !important;
    border: unset;
    background-color:none !important;
}

.card .card-img-header img{
    max-height: 10rem;
    width: 100%;
    margin-bottom: 1rem;
}

.jumbotron {
    padding: 3.5rem 0 1.5rem !important;
}

.jumbotron .banner{
    width: 100%;
    margin-bottom: 1rem;
}

.jumbotron .title{
    width: 30%;
    margin-bottom: 1rem;
    display: block;
    margin: 0 auto;
}

hr {
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    width: 100%;
    margin:1.5rem 0 1rem;
}

.contact-btn {
    margin-top:0.5rem;
    color:#E86519;
    border-color:#E86519;
}

.btn-outline-warning:hover {
    background-color: #ffc10730 !important;
}

.oi {
    margin: 0 0.3rem;
}
